body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0px;
}

header{
    display: flex;
    flex-direction: row;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#page-logo a {
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 207, 123);
  font-size: 54px;
}
