#hero{
    height: 800px;
    background-image: url("/images/ocean.jpg");
    background-position: center;
    background-size: cover;
}

#hero-content{
    width: 800px;
    background-color: rgba(7, 20, 31, 0.6);
    box-shadow: 2px 4px 8px rgb(5, 5, 20);
    border-radius: 8px;
    text-align: center;
    padding: 50px 0px;
    margin: 0 auto;

    position: relative;
    top: 200px;
}

#hero-content h1{
    color: white;
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

#hero-content p{
    color: rgb(249, 236, 213);
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 48px;
}

#hero-content a {
    text-decoration: none;
    background-color: rgb(255, 251, 0);
    padding: 12px 24px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 2px 4px 8px black;
}

#hero-content a:hover{
    background-color: rgb(131, 128, 0);
}